* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif
}

:root {
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sign-up {
    background-color: #42B72A;
    height: 48px;
    width: 178px;
    color: white;

    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;

    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}

input {
    display: inline-block;
    /* box-sizing: border-box; */
    padding: 13px;
    /* border-color: #ccd0d5; */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F5F6F7;

    font-family: "SFProDisplay-Regular", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    line-height: 16px;

    height: 40px;
}


input#first-name {
    width: 95%;
}

input#last-name {
    width: 95%;
}

input#phone-email {
    width: 392px;
}

input#password {
    width: 392px;
}

::placeholder {
    font-family: "SFProDisplay-Regular", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    line-height: 16px;
}

select {
    height: 40px;
    width: 30%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 5px;
}

select:focus {
    outline: 0;
}

.input__birthday {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.input__birthday > select {
    flex: 1 1 auto;
}

/* .input__birthday > select:last-child {
    margin-right: 0px;
} */

.input__sex {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.input__sex > span {
    flex: 1 1 auto;
}

.input-sex-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* width: 30%; */
    height: 40px;
    margin-right: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;
    color: #1c1e21;

    font-size: 15px;
    line-height:1.34;
}   

.input__sex-option {
    display: block;
}

.input__sex-option.hidden {
    display: none;
}

.input-female {

}

.input-male {
    
}

.input-option {
    
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(255, 255, 255, 0.8);

    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;

    animation: fadeIn ease-in 0.1s;
    /* animation-delay: 2s; */
}

.modal.open {
    display: flex;
}

.modal-container {
    width: 432px;
    
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;

    position: relative;

    /* box-sizing: border-box; */

    background-color: #fff;
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.modal-close {
    position: absolute;
    right: 0;
    padding-right: 10px;
}

/* .modal-header {
    border-bottom: 1px solid black;
} */

.modal__title {
    color: #1c1e21;
    font-family: "SFProDisplay-Bold", "Helvetica", "Arial", sans-serif;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
}

.modal__desc {
    color: #606770;
    font-family: "SFProText-Regular", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
}

.info1 {
    
}

.info1-name {
    display: flex;
    align-items: stretch;
    /* justify-content: center; */
    margin-bottom: 10px;
}

.info1-last-name {
    position: relative
}

.info1-last-name i {
    position: absolute;
    right: 20px;
    top: 12px;
}

.info1-first-name {
    position: relative
}

.info1-first-name i {
    position: absolute;
    right: 20px;
    top: 12px;
}

.info1-phone-email {
    position: relative;
    margin-bottom: 10px;
}

.info1-phone-email i {
    position: absolute;
    right: 20px;
    top: 12px;
}

.info1-password {
    position: relative;
    margin-bottom: 20px;
}

.info2-birthday i{
    right: 20px;
    font-size: 15px;
}
.info2-gender i{
    right: 20px;
    font-size: 15px;

}

.info1-password i {
    position: absolute;
    right: 20px;
    top: 12px;
}

.input__title {
    color: #606770;
    font-family: "SFProText-Medium", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 2px;
}

.icon-question:hover {
    cursor: pointer;
}

.info1::after {
    content: "";
    display: table;
    clear: both;
}

.label__input {
    /* box-sizing: border-box; */
    color: #1c1e21;
    display: inline-block;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    padding: 0 28px 0 10px;
    /* width: 100%; */
}

.policy {
    margin-bottom: 20px;
}

.policy p {
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;
    color: #777
}
.policy a {
    color: #385898;
    text-decoration: none;
}
.policy a:hover {
    text-decoration: underline;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-submit {
    background-color: #00a400;
    height: 36px;
    width: 194;
    color: white;
    
    width: 194px;

    border: none;
    border-radius: 6px;
    
    /* line-height: 48px; */
    padding: 0 16px;
    vertical-align: middle;

    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}

/* .js-gender-option-warning {
    right: 40px;
    top: 50px;
} */

i.hidden {
    display: none;
}

.btn-submit:hover {
    background: linear-gradient(#79bc64, #578843);
}